@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Overpass', sans-serif;
    
}
body{
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}


/* Main Card Desktop Design */
.main-container, .thank-you-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30vw;
    min-height: 55vh;
    gap: 1.5em;
    border-radius: 25px;
    padding: 35px;
    background:hsl(213, 19%, 18%);
 
}
/* .main-container{
    display: none;
} */

.star-icon{
    max-width: fit-content;
    max-height: auto;
    border-radius: 50%;
    padding: .75em;
    background-color: #262F38;
    display: grid;
    place-items: center;
}
.header{
    font-size: 17px;
    color: white;
    
}
.text{
    font-size: 15px;
    letter-spacing: .25px;
    max-width: 90%;
    color:  hsl(217, 12%, 63%);
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    max-width: 95%;
}
.numbers button{
    cursor: pointer;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    border: none;
    background: #262F38;
    color:  hsl(217, 12%, 63%);
}
.numbers button:hover{
    background: hsl(25, 97%, 53%);
    color: white;
}
.numbers .selected{
    background:  hsl(217, 12%, 63%);
    color: white;
}
.submit-btn{
    display: flex;
}
.submit-btn button{
    cursor: pointer;
    max-width: 100%;
    width: 100vw;
    padding: 15px;
    border: none;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
    color: white;
}
.submit-btn button:hover{
    background: white;
    color: hsl(25, 97%, 53%);
    border: none;
}


/* Thank you card Desktop Version */
.thank-you-card{
    align-items: center;
}
.thank-you-img, .thank-you-para, .thank-you-head, .thank-you-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.thank-you-text{
    background-color: #262F38;
    color: hsl(25, 97%, 53%);
    border-radius: 25px;
    padding: 10px 25px;
 
}
.thank-you-head{
    color: white;
    font-size: 25px;
}
.thank-you-para{
    text-align: center;
    width: 95%;
    color:  hsl(217, 12%, 63%);
}

.thank-you-card{
    display: none;
}

/* tablet Version */
@media only screen and (min-width: 600px ) and (max-width: 900px), only screen and (min-device-width: 600px) and (max-device-width: 900px){
    .main-container, .thank-you-card{
        max-width: 60vw;
        min-height: 70vh;
    }

}


/* Mobile Version */
@media only screen and (min-width: 300px ) and (max-width: 600px), only screen and (min-device-width: 300px) and (max-device-width: 600px){
    .main-container, .thank-you-card{
        max-width: 80vw;
        min-height: 70vh;
    }
    
}